

.gallery{
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
    background-color: black;
}
/* .gallery h1{
    position: relative;
    top: -200px;
    transition: 2s;
} */

.galleryContainer{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 80%
}

.photoCard{
    color: #131313;
    width: 25%;
    height: 65%;
    margin: 60px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.795);
    border: 5px solid #fff;
    
}

.image{
    padding: 10px;
    width: 70%;
    height: 60%;
    border: 2px solid white;
    background-color: #fff;
    position: relative;
    top: -50px;
    border-radius: 50%;
    box-shadow: 4px 4px rgba(117, 116, 116, 0.7);
}

.userCredentials{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    box-shadow: 7px 7px rgba(117, 116, 116, 0.7);
    font-size: 20px;
    position: relative;
    top: -20px;
}

.photoCaption{
    width: 70%;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.username{
font-family: sans-serif;
font-size: 15px;

text-underline-offset: 5px;
}

.createdOn{
font-size: 12px;
}
