

#home {
  margin: 0;
  padding: 0;
  height: 93vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://wallpapers.com/images/hd/barber-shop-background-c8pq8le29lkcb64m.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-white {
  color: #fff;
}

.homeMsg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  text-align: center;
}
