

#home {
  margin: 0;
  padding: 0;
  height: 93vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(https://wallpapers.com/images/hd/barber-shop-background-c8pq8le29lkcb64m.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-white {
  color: #fff;
}

.homeMsg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  text-align: center;
}

.home-buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.home-button-links{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  border: 3px solid rgb(255, 2555, 255, 0.2);
  text-decoration: none;
  width: 20%;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  transition: 2s;


}
.buttons:hover{
  background-color: rgb(70, 180, 194);
}
/* .buttons:hover::after{
  background-color: peachpuff;
  transition: 2s;
} */