

.galleryDetails{
    width: 100%;
    height: 93vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(3, 3, 3, 1);
}

/* .detailsParent{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    padding: 20px;
    border-radius: 2%;
    
} */

/* .detailsCard{
    width: 99%;
    height: 90%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid azure;
} */

.photoSection{
    margin-left: 20px;
    width: 70%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    background-color: #131313;
}

.imagePlusOwnerButton{
    width: 70%;
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    background-color: #131313;
}

.detailsImage{
    width: 95%;
    height:85%;
    /* margin: 0 100px 0 0; */
    /* border-radius: 20px 0 0 20px; */
}

.detailsText{
    width: 30%;
    height: 90%;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    /* border-radius: 0 20px 20px 0; */
}

.detailsOwner{
position: relative;
top: -160px;
font-weight: 700;
}

.detailsCaps{
    position: relative;
    top: -100px;
    font-weight: 650;
}

.detailsBtn{
    width: 95%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
    /* top: 17px; */
    background-color: grey;
}


.btnClass{
    color: #fff;
    width: 200px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    transition: 500ms ease;
}
.btnClass:hover{
    color: #131313;
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 50px;
    margin-right: 50px;

}

.delBtn{
    color: #fff;
    background-color:transparent;
    border: transparent;
    font-family: Raleway;
    font-size: 30px;
    font-size: 23px;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    transition: 500ms ease;
}

.delBtn:hover{
    background-color: red;
    
}

                /* Comments */

.commentSection{
    width: 30%;
    height: 95%;
    display: flex;
    margin-right: 20px;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    background-color: #131313;
}

.commentsDetails{
   margin-left: 20px;
   width: 90%;
   height: 85%;
   display: block;
   /* align-items: center;
   justify-content: center;
   flex-direction: column; */
   overflow-x: hidden;
   overflow-y: auto;
   font-weight: 600;
   font-size: 15px;
   color: #fff;
   /* border: 3px solid #fff; */
}

.commentsDetails p{
    width: 390px;
    overflow-wrap:break-word;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.3); */
}
.commentsDetails #comment{
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.insideComment{
    margin: 10px;
    width: 95%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
